<!-- templates/registration/signup.html -->
{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<h2>Sign up</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button style="  font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    outline: none;
    background: #731867;
    width: 19%;
    border: none;
    padding: 15px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    transition: all 0.4s ease-in-out;" type="submit">Sign Up</button>
</form>
{% endblock %}